@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
body{
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    background-color: hsl(47, 88%, 63%);
    padding: 20px;
}
.blog-card{
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    max-width: 384px;
    padding: 24px;
    box-shadow: 8px 8px 0px hsl(0, 0%, 7%);
    border: 1px solid hsl(0, 0%, 7%);
}
.blog-card__image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 24px;
}
.blog-card__category{
    background-color: hsl(47, 88%, 63%);
    color: hsl(0, 0%, 7%);
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 800;
    display: inline-block;
    margin-bottom: 12px;
}
.blog-card__date{
    color: hsl(0, 0%, 42%);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 12px;
}
.blog-card h2{
    margin-bottom: 12px;
}
.blog-card__link{
    color: hsl(0, 0%, 7%);
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2;
    transition: color 0.3s ease;
}
.blog-card__link:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}
.blog-card__description {
  color: hsl(0, 0%, 42%);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 24px;
}
.blog-card__author {
  display: flex;
  align-items: center;
  gap: 10px;
}
.blog-card__author-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.blog-card__author p {
  color: hsl(0, 0%, 7%);
  font-size: 14px;
  font-weight: 800;
  margin: 0;
}
.attribution {
position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsl(0, 0%, 100%);
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size: 11px;
  border-top: 1px solid hsl(0, 0%, 7%);

}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}

/* Screen Reader Only Class */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}